

<div class="container conta">

  <div class="header">
    <a href="#default" class="logo">FNB Odering System</a>

    <div class="header-right">
      <a [hidden]="categoriesId==7||categoriesId==5"class="active"(click)="register()">Register</a>
      <a [hidden]="categoriesId==7||categoriesId==6" class="active" (click)="addCategory()">login</a>
      <a *ngIf="categoriesId==7" class="active" (click)="createOder()">login</a>
    </div>
  </div>

  <div *ngIf="categoriesId==0">
    <div class="row">
      <div class="col-6 col-xs-12">
        <h2>Products</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-4 col-sm-2" *ngFor="let data of Products">
        <div class="cart" (click)="addToOrder(data)">
          <p>{{data.des}}</p>
          <h4>{{data.price}}</h4>
          <p>{{data.effactiveDate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="errorBlock" *ngIf="categoriesId==4">
    <h4>error accoured</h4>
    <p>Please check your network connection and reload the page</p>
  </div>
  <div class="loading" *ngIf="categoriesId==-1">
    <h4>Loading...</h4>
  </div>
  <app-view-category (viewBeerEvent)="viewBearDetails($event)" [data]="selectedCategory" *ngIf="categoriesId==1"></app-view-category>
  <app-view-bear (viewBeerEvent)="viewBearDetails($event)" [data]="selectedItemData" *ngIf="categoriesId==3"></app-view-bear>
  <app-add-items (addItemEvent)="viewBearDetails($event)" *ngIf="categoriesId==5"></app-add-items>
  <app-add-category (addItemEvent)="viewBearDetails($event)" *ngIf="categoriesId==6"></app-add-category>
</div>
