<div *ngIf="pageId!==1" class="row">
  <div class="col-6 col-xs-12">
    <h2>Login</h2>
  </div>
</div>
<div class="container centerA">

  <div class="form">
    <div *ngIf="pageId==0;">
      <form [formGroup]="setupForm">
        <label>Id Number</label>
        <input type="text" formControlName="IdNumber">
        <p class="validate"*ngIf="formStatus.formErrors['IdNumber'] ">{{ formStatus.formErrors['name'] }}</p>
        <input (click)="submit()" type="submit" value="submit">
      </form>
    </div>
  </div>
</div>